<!DOCTYPE html>
	<head>
		<title>To-do app</title>
	</head>
	<body>
	<%	if(todayIsDay==="Saturday" || todayIsDay==="Sunday"){ %>
			<h1 style="color:blue;">Today is <%= todayIsDay %></h1>
	<%	}else{ %>
			<h1 style="color:red;">Today is <%= todayIsDay %></h1>
	<%	} %>
	</body>
</html>