<!DOCTYPE html>
	<head>
		<title>To-do app</title>
		<link rel="stylesheet" href="css/styles.css">
	</head>
	<body>
		<div class="box" id="heading">
			<h1><%= todayIsDay %></h1>
		</div>

		<div class="box">
			<% for(var i=0;i<newItem.length;i++){ %>
				<div class="item">
					<input type="checkbox">
					<p><%= newItem[i] %></p>
				</div>
			<% } %>
			<form action="/" method="POST">
				<input type="text" name="taskName">
				<button type="submit" name="button" value="<%= todayIsDay %>">+</button>
			</form>
		</div>
	</body>
</html>